openapi: 3.1.0
info:
  title: Caller Identification API
  version: "3.1"
  description: >
    Caller Identification API identifies the phone owner's name and demographic
    details, along with the owner's current address, alternate phones, and
    emails. Returns only the highest-ranked phone owner.
  contact:
    email: support@trestleiq.com
    url: https://trestleiq.com/contact/

servers:
  - url: https://api.trestleiq.com
    description: Production

security:
  - ApiKeyAuth: []

paths:
  /3.1/caller_id:
    get:
      operationId: getCallerIdentification
      summary: Identify the top owner of a phone number
      description: >
        Validates the phone number, provides real-time metadata (line type,
        carrier), and returns the highest-ranked phone owner with their
        current address, emails, and alternate phone numbers.
      parameters:
        - name: phone
          in: query
          required: true
          schema:
            type: string
          description: >
            Phone number in E.164 or local format. Default country code +1 (USA).
            Example `2069735100`
        - name: phone.country_hint
          in: query
          required: false
          schema:
            type: string
          description: ISO-3166 alpha-2 country code of the phone number. Example `US`
        - name: phone.name_hint
          in: query
          required: false
          schema:
            type: string
          description: >
            Name hint to rank results when multiple owners are found.
        - name: phone.postal_code_hint
          in: query
          required: false
          schema:
            type: string
          description: >
            Postal code hint to rank name/address results.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallerIdResponse'
              example:
                id: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                phone_number: "2069735100"
                is_valid: true
                country_calling_code: "1"
                line_type: NonFixedVOIP
                carrier: Trestle Telco
                is_prepaid: false
                is_commercial: true
                belongs_to:
                  id: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
                  name: Waidong L Syrws
                  firstname: Waidong
                  middlename: L
                  lastname: Syrws
                  alternate_names:
                    - Sryws W L
                  age_range: 25-29
                  gender: null
                  type: Person
                  industry: null
                  link_to_phone_start_date: "2019-03-23"
                current_addresses:
                  - id: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                    location_type: Address
                    street_line_1: 100 Syrws St
                    street_line_2: Ste 1
                    city: Lynden
                    postal_code: "98264"
                    zip4: 98264-9999
                    state_code: WA
                    country_code: US
                    lat_long:
                      latitude: 0
                      longitude: 0
                      accuracy: Neighborhood
                    is_active: true
                    delivery_point: SingleUnit
                    link_to_person_start_date: "2011-10-05"
                emails:
                  - waidong.syrws@email.com
                error: null
                warnings: []
        "400":
          $ref: '#/components/responses/400BadRequest'
        "403":
          $ref: '#/components/responses/403Forbidden'
        "429":
          $ref: '#/components/responses/429TooManyRequests'
        "500":
          $ref: '#/components/responses/500InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        All Trestle API requests require an API key passed via the `x-api-key`
        request header. Obtain a key by signing up at
        https://portal.trestleiq.com/signup.

  responses:
    400BadRequest:
      description: >
        Bad Request. The server cannot process the request due to client-side
        errors (e.g., missing required parameters, invalid format, malformed URL).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: >
        Forbidden. The API key is invalid, expired, disabled, or does not have
        access to this product/version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429TooManyRequests:
      description: >
        Too Many Requests. Either the per-second QPS rate limit or the monthly
        quota has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: >
        Internal Server Error. An unexpected server-side error occurred. Contact
        support@trestleiq.com if this persists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifier.
        message:
          type: string
          description: Human-readable description of the error.

    PartialError:
      type: object
      description: >
        Returned inside a 200 response when partial data could not be retrieved
        due to an upstream timeout or internal issue.
      properties:
        name:
          type: string
          example: InternalError
        message:
          type: string
          example: Could not retrieve entire response

    LatLong:
      type: object
      properties:
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        accuracy:
          type: string
          nullable: true
          enum:
            - Country
            - State
            - City
            - PostalCode
            - Neighborhood
            - Street
            - RoofTop

    Address:
      type: object
      properties:
        id:
          type: string
          nullable: true
          description: Persistent location ID. Format `Location.<uuid>`.
        location_type:
          type: string
          nullable: true
          enum:
            - Country
            - State
            - City
            - PostalCode
            - ZipPlus4
            - Neighborhood
            - Address
        street_line_1:
          type: string
          nullable: true
        street_line_2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        zip4:
          type: string
          nullable: true
          pattern: '^\d+-\d{4}$'
        state_code:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        lat_long:
          $ref: '#/components/schemas/LatLong'
        is_active:
          type: boolean
          nullable: true
          description: True if the address is currently receiving mail.
        delivery_point:
          type: string
          nullable: true
          enum:
            - SingleUnit
            - MultiUnit
            - POBox
            - PartialAddress
        link_to_person_start_date:
          type: string
          nullable: true
        link_to_person_end_date:
          type: string
          nullable: true

    Person:
      type: object
      properties:
        id:
          type: string
          nullable: true
          description: Persistent person ID. Format `Person.<uuid>`.
        name:
          type: string
          nullable: true
        firstname:
          type: string
          nullable: true
        middlename:
          type: string
          nullable: true
        lastname:
          type: string
          nullable: true
        alternate_names:
          type: array
          items:
            type: string
        age_range:
          type: string
          nullable: true
          description: Age of the person in a 5-year range. Example `25-29`.
        gender:
          type: string
          nullable: true
        type:
          type: string
          enum:
            - Person
            - Business
        industry:
          type: array
          items:
            type: string
          nullable: true
        link_to_phone_start_date:
          type: string
          nullable: true

    LineType:
      type: string
      nullable: true
      enum:
        - Landline
        - Mobile
        - FixedVOIP
        - NonFixedVOIP
        - Premium
        - TollFree
        - Voicemail
        - Other

    CallerIdResponse:
      type: object
      properties:
        id:
          type: string
          nullable: true
          description: Persistent phone ID. Format `Phone.<uuid>`.
        phone_number:
          type: string
          nullable: true
        is_valid:
          type: boolean
          nullable: true
        country_calling_code:
          type: string
          nullable: true
        line_type:
          $ref: '#/components/schemas/LineType'
        carrier:
          type: string
          nullable: true
        is_prepaid:
          type: boolean
          nullable: true
        is_commercial:
          type: boolean
          nullable: true
        belongs_to:
          $ref: '#/components/schemas/CallerIdOwner'
        current_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        emails:
          type: array
          items:
            type: string
        error:
          $ref: '#/components/schemas/PartialError'
        warnings:
          type: array
          items:
            type: string

    CallerIdOwner:
      allOf:
        - $ref: '#/components/schemas/Person'
