openapi: 3.1.0
info:
  title: Phone Feedback API
  version: "1.0"
  description: >
    Phone Feedback API allows submitting feedback to Trestle about dialed
    numbers, including connected/disconnected status and right-party contact
    confirmation. This data improves the accuracy of Trestle's phone activity
    models.
  contact:
    email: support@trestleiq.com
    url: https://trestleiq.com/contact/

servers:
  - url: https://api.trestleiq.com
    description: Production

security:
  - ApiKeyAuth: []

paths:
  /1.0/phone_feedback:
    post:
      operationId: submitPhoneFeedback
      summary: Submit live-call feedback for a phone number
      description: >
        Submit feedback about a dialed phone number: whether it was connected
        or disconnected, and whether the call confirmed the right party was
        reached. Pair with the `response_id` returned from a prior Trestle
        API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneFeedbackRequest'
            example:
              response_id: T_b5d031b8-e8a3-4eef-8fa8-d87d3b7e386f
              phone: "2069735100"
              name: Waidong Syrws
              phone_status: Connected
              phone_right_party_contact: true
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneFeedbackResponse'
              example:
                status: success
        "400":
          $ref: '#/components/responses/400BadRequest'
        "403":
          $ref: '#/components/responses/403Forbidden'
        "429":
          $ref: '#/components/responses/429TooManyRequests'
        "500":
          $ref: '#/components/responses/500InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        All Trestle API requests require an API key passed via the `x-api-key`
        request header. Obtain a key by signing up at
        https://portal.trestleiq.com/signup.

  responses:
    400BadRequest:
      description: >
        Bad Request. The server cannot process the request due to client-side
        errors (e.g., missing required parameters, invalid format, malformed URL).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: >
        Forbidden. The API key is invalid, expired, disabled, or does not have
        access to this product/version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429TooManyRequests:
      description: >
        Too Many Requests. Either the per-second QPS rate limit or the monthly
        quota has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: >
        Internal Server Error. An unexpected server-side error occurred. Contact
        support@trestleiq.com if this persists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifier.
        message:
          type: string
          description: Human-readable description of the error.

    PartialError:
      type: object
      description: >
        Returned inside a 200 response when partial data could not be retrieved
        due to an upstream timeout or internal issue. The remaining fields in
        the response are still usable.
      properties:
        name:
          type: string
          example: InternalError
        message:
          type: string
          example: Could not retrieve entire response

    PhoneFeedbackRequest:
      type: object
      required:
        - response_id
        - phone
        - phone_status
        - phone_right_party_contact
      properties:
        response_id:
          type: string
          description: >
            The response ID returned from a prior Trestle API call.
            Example `T_b5d031b8-e8a3-4eef-8fa8-d87d3b7e386f`
        phone:
          type: string
          description: >
            Phone number in E.164 or local format. Example `2069735100`
        name:
          type: string
          description: Person or business name associated with the phone.
        phone_status:
          type: string
          enum:
            - Connected
            - Disconnected
          description: Live-call status for the phone number.
        phone_right_party_contact:
          type: boolean
          description: Whether the call confirmed the number belongs to the right party.

    PhoneFeedbackResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        error:
          $ref: '#/components/schemas/PartialError'
