openapi: 3.1.0
info:
  title: Real Contact API 1.1
  version: "1.1"
  description: >
    Real Contact API verifies and grades phone numbers, emails, and addresses.
    Returns Phone Activity Score, line type, name matches, and IP-based
    intelligence signals. Add-ons available for email deliverability, email age,
    and TCPA litigator checks.
  contact:
    email: support@trestleiq.com
    url: https://trestleiq.com/contact/

servers:
  - url: https://api.trestleiq.com
    description: Production

security:
  - ApiKeyAuth: []

paths:
  /1.1/real_contact:
    get:
      operationId: getRealContactV11
      summary: Verify and grade a lead's contact information
      description: >
        Verifies the contactability and consistency of an identity profile
        across name, phone, email, address, and IP address. Returns contact
        grades (A–F), activity scores, name-match indicators, and IP trust
        signals.
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: The name of the person to search. Example `John Doe`
        - name: phone
          in: query
          required: true
          schema:
            type: string
          description: The phone number provided by the lead. Example `4259853735`
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: The email provided by the lead. Example `john.doe@example.com`
        - name: address.street_line_1
          in: query
          required: false
          schema:
            type: string
        - name: address.city
          in: query
          required: false
          schema:
            type: string
        - name: address.state_code
          in: query
          required: false
          schema:
            type: string
        - name: address.postal_code
          in: query
          required: false
          schema:
            type: string
        - name: address.country_code
          in: query
          required: false
          schema:
            type: string
          description: ISO-3166 alpha-2 country code. Example `US`
        - name: ip_address
          in: query
          required: false
          schema:
            type: string
          description: >
            The IP address captured at time of interaction. Example `192.0.0.1`
        - name: add_ons
          in: query
          required: false
          schema:
            type: string
          description: >
            Comma-separated list of add-ons to enable. Options:
            `email_checks_deliverability`, `email_checks_age`,
            `litigator_checks`. Additional charges apply.
        - name: business.name
          in: query
          required: false
          schema:
            type: string
          description: The business name to search. Example `The Golden Company`
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealContactResponse'
              example:
                status: success
        "400":
          $ref: '#/components/responses/400BadRequest'
        "403":
          $ref: '#/components/responses/403Forbidden'
        "429":
          $ref: '#/components/responses/429TooManyRequests'
        "500":
          $ref: '#/components/responses/500InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        All Trestle API requests require an API key passed via the `x-api-key`
        request header. Obtain a key by signing up at
        https://portal.trestleiq.com/signup.

  responses:
    400BadRequest:
      description: >
        Bad Request. The server cannot process the request due to client-side
        errors (e.g., missing required parameters, invalid format, malformed URL).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: >
        Forbidden. The API key is invalid, expired, disabled, or does not have
        access to this product/version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429TooManyRequests:
      description: >
        Too Many Requests. Either the per-second QPS rate limit or the monthly
        quota has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: >
        Internal Server Error. An unexpected server-side error occurred. Contact
        support@trestleiq.com if this persists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifier.
        message:
          type: string
          description: Human-readable description of the error.

    RealContactResponse:
      type: object
      properties:
        phone:
          type: object
          properties:
            contact_grade:
              type: [string, "null"]
              description: >
                A–F grade for lead contactability via phone. A = high quality,
                F = bad lead.
            is_valid:
              type: [boolean, "null"]
            activity_score:
              type: [integer, "null"]
              description: >
                0–100 score. 70+ = high confidence connected; 30- = high
                confidence disconnected/inactive.
            line_type:
              type: [string, "null"]
              enum:
                - Landline
                - Mobile
                - FixedVOIP
                - NonFixedVOIP
                - Premium
                - TollFree
                - Voicemail
                - Other
            name_match:
              type: [boolean, "null"]
        email:
          type: object
          properties:
            contact_grade:
              type: [string, "null"]
            is_valid:
              type: [boolean, "null"]
            name_match:
              type: [boolean, "null"]
        address:
          type: object
          properties:
            is_valid:
              type: [boolean, "null"]
            name_match:
              type: [boolean, "null"]
        ip_address:
          type: [object, "null"]
          properties:
            trust_score:
              type: [integer, "null"]
              description: 0–100 score evaluating interaction legitimacy based on IP.
            ip_distance_to_address:
              type: [integer, "null"]
              description: Approximate miles between IP location and provided address.
        add_ons:
          type: [object, "null"]
          properties:
            litigator_checks:
              type: object
              properties:
                phone_is_litigator_risk:
                  type: [boolean, "null"]
            email_checks:
              type: object
              properties:
                email_is_deliverable:
                  type: [boolean, "null"]
                email_age_score:
                  type: [integer, "null"]
        warnings:
          type: array
          items:
            type: string
        errors:
          type: [object, "null"]
          properties:
            name:
              type: string
            message:
              type: string
