openapi: 3.1.0
info:
  title: Reverse Address API
  version: "3.1"
  description: >
    Reverse Address API validates and normalizes input addresses while
    providing comprehensive insights into current residents' information,
    including demographics, historical addresses, relatives, phone numbers,
    and email addresses.
  contact:
    email: support@trestleiq.com
    url: https://trestleiq.com/contact/

servers:
  - url: https://api.trestleiq.com
    description: Production

security:
  - ApiKeyAuth: []

paths:
  /3.1/location:
    get:
      operationId: getReverseAddress
      summary: Look up residents at a street address
      description: >
        Validates and normalizes the input address and returns all current
        residents linked to the address, including demographics, phones,
        emails, historical addresses, and associated people.
      parameters:
        - name: street_line_1
          in: query
          required: false
          schema:
            type: string
          description: The first line of the street address. Example `100 Syrws St`
        - name: street_line_2
          in: query
          required: false
          schema:
            type: string
          description: The second line of the street address.
        - name: city
          in: query
          required: false
          schema:
            type: string
          description: The city name. Example `Seattle`
        - name: state_code
          in: query
          required: false
          schema:
            type: string
          description: Two-letter state code. Example `WA`
        - name: postal_code
          in: query
          required: false
          schema:
            type: string
          description: The postal code. Example `98101`
        - name: country_code
          in: query
          required: false
          schema:
            type: string
          description: ISO-3166 alpha-2 country code. Example `US`
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseAddressResponse'
              example:
                status: success
        "400":
          $ref: '#/components/responses/400BadRequest'
        "403":
          $ref: '#/components/responses/403Forbidden'
        "429":
          $ref: '#/components/responses/429TooManyRequests'
        "500":
          $ref: '#/components/responses/500InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        All Trestle API requests require an API key passed via the `x-api-key`
        request header. Obtain a key by signing up at
        https://portal.trestleiq.com/signup.

  responses:
    400BadRequest:
      description: >
        Bad Request. The server cannot process the request due to client-side
        errors (e.g., missing required parameters, invalid format, malformed URL).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: >
        Forbidden. The API key is invalid, expired, disabled, or does not have
        access to this product/version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429TooManyRequests:
      description: >
        Too Many Requests. Either the per-second QPS rate limit or the monthly
        quota has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: >
        Internal Server Error. An unexpected server-side error occurred. Contact
        support@trestleiq.com if this persists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifier.
        message:
          type: string
          description: Human-readable description of the error.

    PartialError:
      type: object
      description: >
        Returned inside a 200 response when partial data could not be retrieved
        due to an upstream timeout or internal issue. The remaining fields in
        the response are still usable.
      properties:
        name:
          type: string
          example: InternalError
        message:
          type: string
          example: Could not retrieve entire response

    ReverseAddressResponse:
      type: object
      properties:
        id:
          type: [string, "null"]
          description: Persistent location ID. Format `Location.<uuid>`.
        is_valid:
          type: [boolean, "null"]
        street_line_1:
          type: [string, "null"]
        street_line_2:
          type: [string, "null"]
        city:
          type: [string, "null"]
        postal_code:
          type: [string, "null"]
        zip4:
          type: [string, "null"]
        state_code:
          type: [string, "null"]
        country_code:
          type: [string, "null"]
        lat_long:
          $ref: '#/components/schemas/LatLong'
        is_active:
          type: [boolean, "null"]
        is_commercial:
          type: [boolean, "null"]
        delivery_point:
          type: [string, "null"]
          enum:
            - SingleUnit
            - MultiUnit
            - POBox
            - PartialAddress
        current_residents:
          type: array
          items:
            $ref: '#/components/schemas/Resident'
        error:
          $ref: '#/components/schemas/PartialError'
        warnings:
          type: array
          items:
            type: string

    Resident:
      allOf:
        - $ref: '#/components/schemas/Person'
        - type: object
          properties:
            link_to_address_start_date:
              type: [string, "null"]
            phones:
              type: array
              items:
                $ref: '#/components/schemas/PhoneShort'
            emails:
              type: array
              items:
                type: string
            historical_addresses:
              type: array
              items:
                $ref: '#/components/schemas/Address'
            associated_people:
              type: array
              items:
                $ref: '#/components/schemas/AssociatedPerson'

    AssociatedPerson:
      type: object
      properties:
        id:
          type: [string, "null"]
        name:
          type: [string, "null"]
        firstname:
          type: [string, "null"]
        middlename:
          type: [string, "null"]
        lastname:
          type: [string, "null"]
        relation:
          type: [string, "null"]
